.MyNeeds {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.MyNeeds h2 {
    font-weight: bold;
    font-size: 24px;
}

.MyNeeds ul {
    margin-top: 1rem;
}

.MyNeeds h3 {
    font-size: 12px;
    text-align: center;
}

/* --- */

.MyNeedsList ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.MyNeedsList li {
    cursor: pointer;
    background-color: #ffffff;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
}

.MyNeedsList li:hover,
.MyNeedsList li.active {
    background-color: #dbffdb;
}

.MyNeedsList h4 {
    font-size: 12px;
    font-weight: normal;

}

.MyNeedsList p {
    font-size: 16px;
    font-weight: normal;
    display: none;
}

/* --- SELECTED NEEDS --- */

.selectedNeed {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    list-style: none;
    cursor: grab;
}

.selectedNeed h4 {
    display: grid;
    grid-template-columns: auto 1fr 2fr;
    align-items: center;
}

.selectedNeed h4 .removeButton {
    cursor: pointer;
    font-size: 12px;
    visibility: hidden;
    margin-right: 0.5rem;
}
.selectedNeed h4 .categoryName {
    font-size: 12px;
    font-weight: normal;
    margin-right: 0.5rem;
}

li.selectedNeed:hover span {
    visibility: visible;
}
